@import "../../../../vars/vars";

@import "js-datepicker/src/datepicker.scss";

@import "../../propals.scss";

.project-read{
  @include flex(column, flex-start, flex-start, var(--espaceDiv));

  & > div{
    width: 100%;
  }
}

.project-header{
  @include flex(column, stretch, flex-start, var(--espaceDiv));
}

.project-title{
  position: relative;
  min-height: 148px;
  padding: 12px;
  border-radius: calc(var(--radius) * 2);
  width: 100%;

  &:before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%; height: 100%;
    background: linear-gradient(to right, var(--overlay), transparent);
  }

  h2{
    position: relative;
  }
}

.iframe-route{
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
}

.project-propals{
  width: 100%;
}

.project-card{
  .project-card-header, .project-card-footer{
    padding: var(--espaceDiv);
  }

  .project-card-header{
    @include flex(row, center, space-between, var(--espaceEls));
    background-color: var(--color0Opacity6);
    border-radius: calc(var(--radius) * 2) calc(var(--radius) * 2) 0 0;

    .name{
      @include fontSemibold();
      font-size: 20px;
    }
  }

  .project-card-body {
    background-color: var(--color0Opacity4);

    &.selected{
      background-color: var(--primaryOpacity1);
      border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);
    }

    .image{
      width: 120px;
      max-height: 180px;
      overflow: hidden;
      cursor: pointer;

      img{
        object-fit: cover;
        height: 100%;
      }
    }
  }

  .project-card-footer{
    @include flex();
    background-color: var(--primary);
    border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;

    &:hover{
      opacity: 1;
    }
  }

  .project-card-footer-danger{
    background-color: var(--danger);
  }

  .project-card-footer-warning{
    background-color: var(--warning);
  }
}

.propals{
  .propal{

    .propal-body-with-image{
      width: calc(100% - 40px - 64px - 25px);
    }

    .propal-body-lifestyle{
      width: calc(100% - 64px - 10px);
    }

    .propal-body-todos{
      width: calc(100% - 20px - 64px - 10px);
    }

    .propal-actions-activities{
      width: 64px;
    }
  }

  .propal-route{
    flex-direction: column;
    gap: var(--espaceDiv);
  }
}

.project-content{
  @include flex(column, flex-start, flex-start, var(--espaceDiv));

  & > div{
    width: 100%;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .project-header{
    flex-direction: row;
  }

  .project-title, .project-propals{
    width: 50%;
  }

  .propals{
    .propal{
      .propal-body-with-image{
        @include flex(row, flex-start, flex-start, var(--espaceEls));

        .image{
          width: 180px;
          max-height: 240px;
        }
      }
    }

    .propal-route{
      flex-direction: row;

      & > div{
        width: 50%;
      }
    }
  }
}
