{% extends 'user/layout/layout.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% set page_title %}Hello UserController!{% endset %}

{% block main_content %}
    <div class="main-content">
        <h1>Hello {{ app.user.username }}</h1>
    </div>
{% endblock %}
