@import "../../../vars/vars";

.users-select{
  @include flex(row, flex-start, flex-start, var(--espaceEls));
  flex-wrap: wrap;

  .user-select{
    position: relative;
    @include flex(row, center, flex-start, 8px);
    padding: 12px;
    min-width: 120px;
    text-align: center;
    color: var(--grey3);
    border: 2px solid var(--grey3);
    background-color: var(--color4);
    border-radius: var(--radius);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    .username{
      @include fontSemibold();
      transition: all 0.2s ease-in-out;
    }

    &.active{
      background-color: var(--color3);
      color: var(--alpha);
      border-color: var(--primary);
    }

    &:hover{
      .username{
        color: var(--grey3);
      }
      border-color: var(--primary);
    }

    .item-selected{
      position: absolute;
      top: -5px;
      right: -11px;
      background: var(--primary);
      transform: rotate(45deg) translateY(-5px);
      width: 40px;
      padding-top: 8px;
      text-align: center;

      [class^="icon-"]{
        transform: rotate(-45deg);
        font-size: 12px;
      }
    }
  }
}