services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: symfony_php
    volumes:
      - ./:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    environment:
      - DATABASE_URL=mysql://symfony:symfony@db:3306/symfony?serverVersion=mariadb-11.4.9
    depends_on:
      - db
    networks:
      - symfony

  nginx:
    image: nginx:alpine
    container_name: symfony_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - symfony

  db:
    image: mariadb:11.4.9
    container_name: symfony_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nompaw
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - symfony

  node:
    image: node:20.19.4-alpine
    container_name: symfony_node
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    command: sh -c "yarn install && yarn watch"
    networks:
      - symfony

networks:
  symfony:
    driver: bridge

volumes:
  db_data:
