@import "../../../vars/vars";

.list-recipes{
  @include flex(row, flex-start, flex-start, 1.2rem);
  flex-wrap: wrap;

  @media (min-width:1280px) {
    gap: 1.8rem
  }

  .ant-card{
    width: 100%;

    @media (min-width:768px) {
      width: calc(50% - (1.2rem / 2));
    }

    @media (min-width:1024px) {
      width: calc(33% - (1.2rem / 2));
    }

    @media (min-width:1280px) {
      width: calc(25% - 1.35rem);
    }

    @media (min-width:1920px) {
      width: calc(14% - 1.17rem);
    }
  }
}