@import "../../../vars/vars";

.recipe-read{
  margin-top: var(--espaceDiv);

  h2{
    position: relative;
    padding: var(--espaceEls) var(--espaceDiv);
    background-color: var(--color3Opacity4);
    border-radius: var(--radius);
    margin-bottom: var(--espaceDiv);

    &:before{
      content: "";
      background-color: var(--color3);
      display: inline-block;
      width: 6px; height: 100%;
      position: absolute;
      top: 0; left: 0;
      border-radius: var(--radius) 0 0 var(--radius);
    }
  }

  .form-input{
    @include flex(row, flex-start, flex-start, 8px);

    .btn-icon{
      padding: 8px 6px;
    }
  }

  & > .col-1{
    .recipe-instructions{
      padding: var(--espaceLayout);

      .recipe-description{
        margin-bottom: 0.8rem;
      }

      .instructions{
        display: none;
        margin: var(--espaceDiv) 0;
      }
    }
  }

  & > .col-2{
    padding: 0 var(--espaceLayout) var(--espaceLayout) var(--espaceLayout);

    .recipe-menu, .recipe-menu-tiny{
      @include flex(row, center, center);
      margin-bottom: calc(var(--espaceDiv) * 2);
    }

    .recipe-menu-tiny{
      display: none;
    }

    .recipe-data{
      @include flex(column, flex-start, flex-start, 8px);
      margin: var(--espaceDiv) 0;
      padding: var(--espaceDiv) 0;
      border-top: 1px solid var(--color1);
      border-bottom: 1px solid var(--color1);

      .recipe-data-item{
        @include flex(row, flex-start, flex-start, 8px);

        [class^="icon-"]{
          opacity: 0.85;
        }
      }
    }
  }

  .ingredients{
    @include flex(column, flex-start, flex-start, var(--espaceEls));

    .form{
      width: 100%;
      max-width: 568px;

      .line.line-4{
        flex-direction: row;

        $widthNumber: 48px;
        $widthUnit: 60px;
        $widthBtn: 68px;

        .error{
          display: none;
        }

        & > .form-group:nth-child(1){ width: $widthNumber; }
        & > .form-group:nth-child(2){ width: $widthUnit; }
        & > .form-group:nth-child(3){
          width: calc(100% - $widthNumber - $widthUnit - $widthBtn);
        }
        & > .form-group:nth-child(4){
          @include flex(row, flex-start, flex-start, 8px);
          width: $widthBtn;

          .btn-icon{
            padding: 8px 6px;

            span:last-child{
              display: none;
            }
          }
        }

        //                      __   _____ __    ___    __
        //                     | _| |___  / /_  ( _ )  |_ |
        //    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
        //   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
        //                     | |   /_/  \___/ \___/   | |
        //                     |__|                    |__|
        @media (min-width:768px) {
          $widthBtn: 248px;

          & > .form-group:nth-child(3){
            width: calc(100% - $widthNumber - $widthUnit - $widthBtn);
          }
          & > .form-group:nth-child(4){
            width: $widthBtn;

            .btn-icon{
              width: 100%;

              & + .btn-icon{
                width: auto;
              }

              span:last-child{
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .item{
      @include flex(row, center, flex-start, 8px);
      width: 100%;
      cursor: pointer;

      .item-box{
        background-color: var(--grey1);
        border-radius: 100px;
        width: 24px; height: 24px;
        border: 2px solid var(--grey3);
        transition: background-color 0.2s ease-in-out;
      }

      .item-data{
        @include flex(row, flex-start, flex-start, 4px);
        flex-wrap: wrap;
        width: calc(100% - 26px);
      }

      .item-actions{
        @include flex(row, flex-start, flex-start, 8px);
      }

      &.active,
      &:hover{
        .item-box{
          background-color: var(--color0);
        }
      }
    }
  }

  .steps{
    position: relative;
    @include flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));

    &:before{
      content: "";
      background-color: var(--color3);
      display: block;
      width: 3px; height: 100%;
      position: absolute;
      top: 0; left: 15px;
    }

    .step{
      position: relative;
      @include flex(row, flex-start, flex-start, var(--espaceDiv));
      width: 100%;
    }

    .number{
      @include flex();
      border-radius: var(--radius);
      background-color: var(--color0);
      width: 32px; height: 32px;
      @include fontSemibold();
    }

    .content{
      padding-top: 4px;
      width: calc(100% - 32px);
    }
  }

  //                      __   _ ____  ___   ___    __
  //                     | _| / |___ \( _ ) / _ \  |_ |
  //    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
  //   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
  //                     | |  |_|_____\___/ \___/   | |
  //                     |__|                      |__|
  @media (min-width:1280px) {
    @include flex(row, stretch, flex-start, var(--espaceDiv));

    & > .col-1{
      width: 60%;

      .recipe-instructions{
        padding: var(--espaceLayout) 0;

        .instructions{
          display: flex;
          flex-direction: column;
        }
      }
    }

    & > .col-2{
      width: 40%;
      background-color: var(--color0);
      border-radius: calc(var(--radius) * 4);
      margin-bottom: var(--espaceLayout);

      .recipe-menu{
        display: none;
      }

      .recipe-menu-tiny{
        display: flex;
        margin-top: calc(var(--espaceDiv) * 2);
      }
    }

    .steps{
      &:before{
        left: 23px;
      }

      .number{
        width: 48px;
        height: 48px;
        font-size: 18px;
      }

      .content{
        width: calc(100% - 48px);
      }
    }
  }
}