{% extends 'user/pages/budget/categories/template.html.twig' %}

{% set page_title %}Créer une catégorie{% endset %}
{% set page_subtitle %}Renseignez le plus d'informations possibles{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_budget_categories_index'),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à liste'
    } %}
{% endset %}

{% block main_content %}
    <div id="categories_create">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
