{% extends 'user/pages/budget/categories/template.html.twig' %}

{% set page_title %}Modifier {{ elem.name }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Modifier les informations relatives à {{ elem.name }}.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_budget_categories_index', {h: elem.id}),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à liste'
    } %}
{% endset %}

{% block main_content %}
    <div id="categories_update"
         data-obj="{{ obj }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}

