{% extends 'user/pages/aventures/template.html.twig' %}

{% set page_title %}Création de la prochaine aventure{% endset %}
{% set page_subtitle %}Personnalisé les informations de la prochaine aventure{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([
        { text: groupe.name, url: path('user_aventures_groupes_read', {slug: groupe.slug}) },
        { text: page_title }
    ]) %}
    {{ parent() }}
{% endblock %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_aventures_groupes_read', {slug: groupe.slug}),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à liste'
    } %}
{% endset %}

{% block main_content %}
    <div id="randos_create"
         data-users="{{ users }}"
         data-user-id="{{ app.user.id }}"
         data-groupe-id="{{ groupe.id }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
