{% extends 'user/pages/aventures/template.html.twig' %}

{% set page_title %}Création de la prochaine aventure{% endset %}
{% set page_subtitle %}Personnalisé les informations de la prochaine aventure{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([
        { text: groupe.name, url: path('user_aventures_groupes_read', {'slug': groupe.slug}) },
        { text: page_title }
    ]) %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    {% include "layout/components/admin/page_toolbar.html.twig" with { page_back: path('user_aventures_groupes_read', {'slug': groupe.slug}) } %}

    <div id="randos_create"
         data-users="{{ users }}"
         data-user-id="{{ app.user.id }}"
         data-groupe-id="{{ groupe.id }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
