@import "../../../../vars/vars";

@import "js-datepicker/src/datepicker.scss";

@import "../../propals.scss";

.rando-read{
  .rando-meta{
    @include flex(row, center, space-between, var(--espaceEls));
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    padding: var(--espaceLayout) 0;
  }

  .features{
    @include flex(column, flex-start, flex-start, 4px);
  }

  .members{
    margin-top: 8px;
  }

  .author{
    .user{
      @include flex(row, center, flex-start, 4px);
      @include fontSemibold();
    }
  }

  .rando-content{
    @include flex(column, flex-start, flex-start, var(--espaceLayout));
    padding: var(--espaceLayout) 0;

    & > *{
      width: 100%;
    }
  }
}

.rando-col-propals{
  @include flex(column, flex-start, flex-start, var(--espaceLayout));

  & > *{
    width: 100%;
  }
}

.rando-card{

  .rando-card-header, .rando-card-footer{
    padding: var(--espaceDiv);
  }

  .rando-card-header{
    background-color: var(--color0Opacity6);
    border-radius: calc(var(--radius) * 2) calc(var(--radius) * 2) 0 0;

    .name{
      @include fontSemibold();
    }
  }
  .rando-card-body {
    background-color: var(--color0Opacity4);

    &.selected{
      background-color: var(--primaryOpacity1);
      border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);
    }
  }

  .rando-card-footer{
    @include flex();
    background-color: var(--primary);
    border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;

    &:hover{
      opacity: 1;
    }
  }

  .rando-card-footer-danger{
    background-color: var(--danger);
  }

  .rando-card-footer-warning{
    background-color: var(--warning);
  }
}

.rando-details{
  .name{
    font-size: 20px;
    margin-bottom: 4px;
  }

  .date{
    font-size: 17px;
  }
}

.rando-card-meta{
  @include flex(column, flex-start, flex-start, var(--espaceEls));
  padding: var(--espaceDiv) 0;
  margin: 0 var(--espaceDiv);
  border-bottom: 1px solid var(--color1Opacity4);
}

.rando-card-content{
  padding: var(--espaceDiv);
}

.rando-images{
  margin-top: var(--espaceDiv);

  .rando-image{
    position: relative;

    img{
      height: 100%;
    }

    &:hover{
      .image-data{
        opacity: 1;
        z-index: 1;
      }
    }
  }

  .image-data{
    position: absolute;
    @include flex(column, flex-start, space-between, var(--espaceEls));
    top: 0; left: 0;
    background: linear-gradient(rgba(14, 14, 14, 0.1), rgba(14, 14, 14, 0.2), rgba(14, 14, 14, 0.2), var(--overlay));
    width: 100%; height: 100%;
    padding: var(--espaceEls);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;

    .action-top{
      @include flex(row, flex-start, flex-end, var(--espaceEls));
      width: 100%;
    }

    .action-bottom{
      @include flex(row, flex-end, space-between, var(--espaceEls));
      width: 100%;
    }
  }

  .image-author{
    @include flex(row, center, flex-start, 6px);
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .rando-read{
    .to-line{
      flex-direction: row;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .rando-read{
    .steps{
      &:before{
        left: 23px;
      }

      .number{
        width: 48px;
        height: 48px;
        font-size: 18px;
      }

      .content{
        width: calc(100% - 48px);
      }
    }

    .rando-col-propals{
      flex-direction: row;
    }
  }
}
