@import "../../../../vars/vars";

.rando-read{
  .rando-meta{
    @include flex(row, center, space-between, var(--espaceEls));
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    padding: var(--espaceLayout) 0;
  }

  .features{
    @include flex(column, flex-start, flex-start, 4px);
  }
  .author{
    .user{
      @include flex(row, center, flex-start, 4px);
      @include fontSemibold();
    }
  }

  .rando-content{
    padding: var(--espaceLayout) 0;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .rando-read{
    .steps{
      &:before{
        left: 23px;
      }

      .number{
        width: 48px;
        height: 48px;
        font-size: 18px;
      }

      .content{
        width: calc(100% - 48px);
      }
    }
  }
}
