{% extends 'layout/layout_user.html.twig' %}

{% set page_prefix = "Nompaw" %}

{% set menu = [
    {
        name: "Dashboard", icon: "home",
        path: path('user_homepage'),
        matchRoute: ['user_homepage']
    },
    {
        name: "Aventures", icon: "map",
        path: path('user_aventures_groupes_index'),
        matchRoute: [
            'user_aventures_groupes_index', 'user_aventures_groupes_read', 'user_aventures_groupes_create', 'user_aventures_groupes_update',
            'user_aventures_randos_read', 'user_aventures_randos_create', 'user_aventures_randos_update'
        ]
    },
    {
        name: "Projets", icon: "calendar",
        path: path('user_projects_index'),
        matchRoute: [
            'user_projects_index', 'user_projects_read', 'user_projects_create', 'user_projects_update']
    },
    {
        name: "Anniversaires", icon: "cake",
        path: path('user_birthdays_index'),
        matchRoute: [
            'user_birthdays_index', 'user_birthdays_read', 'user_birthdays_create', 'user_birthdays_update']
    },
    {
        name: "Planificateur", icon: "calculator",
        path: path('user_budget_index', {'year': 'now'|date('Y')}),
        matchRoute: [
            'user_budget_index',
            'user_budget_recurrences_index', 'user_budget_recurrences_create', 'user_budget_recurrences_update',
            'user_budget_categories_index', 'user_budget_categories_create', 'user_budget_categories_update'
        ]
    },
    {
        name: "Cryptomonnaies", icon: "credit-card",
        path: path('user_cryptos_index'),
        matchRoute: ['user_cryptos_index']
    },
    {
        name: "Vidéothèque", icon: "camera",
        path: path('user_videotheque_index'),
        matchRoute: ['user_videotheque_index']
    },
    {
        name: "Mon profil", icon: "user-octagon",
        path: path('user_profil_index'),
        matchRoute: ['user_profil_index']
    },
] %}

{% set menu_bottom = [] %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DEVELOPER') %}
    {% set menu_bottom = menu_bottom | merge([
        {
            name: "Espace admin", icon: "earth",
            path: path('admin_homepage'),
            matchRoute: ['admin_homepage']
        },
        {
            name: "Page accueil", icon: "earth",
            path: path('app_homepage'),
            matchRoute: ['app_homepage']
        },
    ]) %}
{% endif %}

{% block footer %}
    <div class="relative z-10 bg-gray-900 px-4 py-8 text-sm sm:px-6 lg:px-8">
        <div class="mx-auto max-w-screen-2xl flex flex-col text-center sm:flex-row sm:text-left gap-2 justify-center">
            <p class="text-slate-100">&copy; 2024 - <a href="https://chanbora-chhun.fr" class="text-blue-400">Chanbora Chhun</a></p>
            <span class="text-slate-100">-</span>
            <a class="text-gray-100 hover:text-gray-300 hover:underline" href="{{ path('app_mentions') }}">Mentions légales</a>
            <a class="text-gray-100 hover:text-gray-300 hover:underline" href="{{ path('app_politique') }}">Politique de confidentialité</a>
            <a class="text-gray-100 hover:text-gray-300 hover:underline" href="{{ path('app_cookies') }}">Gestion des cookies</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="text-gray-100 hover:text-gray-300 hover:underline" href="{{ path('admin_homepage') }}">Espace administrateur</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

