{% extends 'app/pages/security/template.html.twig' %}

{% block title %}Réinitialisation de mot de passe {{ parent() }}{% endblock %}

{% block main_content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    {% if error is defined %}
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Lien expiré 🥴</h1>
            <p class="text-gray-600 text-center text-sm mt-1">Ce lien de réinitialisation de mot de passe a expiré, veuillez recommencer la procédure.</p>
        </div>
    {% else %}
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Réinitialiser son mot de passe 🔒</h1>
            <p class="text-gray-600 text-center text-sm mt-1">Assurez-vous de respecter les règles de création de mot de passe pour rendre votre espace sécurisé.</p>
        </div>
    {% endif %}

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-screen-sm">
        <div class="space-y-6">
            {% if error is defined %}
                <div class="flex items-center justify-center gap-2">
                    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                        btn_link: path('app_login'),
                        btn_type: 'blue',
                        btn_text: 'Recommencer'
                    } %}
                    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                        btn_link: path('app_homepage'),
                        btn_type: 'default',
                        btn_text: 'Revenir à la page d\'accueil'
                    } %}
                </div>
            {% else %}
                <div id="reinit" data-token={{ token }}>
                    {% include "layout/components/tailwind/loaders/loader.html.twig" %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
