{% extends 'user/pages/aventures/template.html.twig' %}

{% set page_title %}Création d'un groupe d'aventures{% endset %}
{% set page_subtitle %}Ajoutez le maximum de détails à votre groupe d'aventures !{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([{ text: page_title }]) %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    {% include "layout/components/admin/page_toolbar.html.twig" with { page_back: path('user_aventures_groupes_index') } %}

    <div id="groupes_create" data-users="{{ users }}">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
