.image-rando{
  background: linear-gradient(rgba(14, 14, 14, 0.1), rgba(14, 14, 14, 0.2), rgba(14, 14, 14, 0.2), rgba(14, 14, 14, 0.5));
  opacity: 0;

  &:hover, &.active{
    z-index: 20;
    opacity: 1;
  }
}

.icon-google-ml{
  .path3:before {
    margin-left: -24px;
  }
}

.drive-dropzone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(32, 31, 31, 0.9);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.8em;
  z-index: -1;
  opacity: 0;

  &.active{
    z-index: 1000;
    opacity: 1;
  }
}
