.image-rando{
  background: linear-gradient(rgba(14, 14, 14, 0.1), rgba(14, 14, 14, 0.2), rgba(14, 14, 14, 0.2), rgba(14, 14, 14, 0.5));
  opacity: 0;

  &:hover, &.active{
    z-index: 20;
    opacity: 1;
  }
}

.icon-google-ml{
  .path3:before {
    margin-left: -24px;
  }
}
