.list-trades{
  .items-trades{
    & > .item{
      padding: 12px;
    }
  }
}

.item-year{
  padding: 24px 12px;
}

.item-month{
  padding: 12px;
}

.items-trades{
  $col2: 130px; $col3: 280px; $col4: 280px; $col5: 220px; $col6: 180px; $col7: 280px; $col8: 72px; $colGap: 56px;
  @media (min-width:768px) {
    .item-infos{
      & > .col-1{ width: 130px; }
      & > .col-2{ width: $col2; }
      & > .col-3{ width: $col3; text-align: right; }
      & > .col-4{ width: $col4; }
      & > .col-5{ width: $col5; }
      & > .col-6{ width: $col6; }
      & > .col-7{ width: $col7; }
      & > .col-8.actions{ width: $col8; }
    }
  }
}

