@import "../vars/vars";

@import "./components/form";
@import "./components/recipes/list";
@import "./components/recipes/read";

.line-tuto-step{
  label{
    @include flex(row, center, space-between, var(--espaceEls));
    width: 100%;
  }
}

.delete-recipe{
  @include flex(row, center, center);
}

.favorite{
  .btn-icon{
    [class^="icon-"]{
      color: var(--alpha);
    }
  }
}

.recipes{
  @include flex(row, flex-start, flex-start, var(--espaceDiv));
  flex-wrap: wrap;

  .card{
    background-color: var(--color0);
    border-radius: calc(var(--radius) * 2);
    width: 100%;
    max-width: 321px;

    .card-header{
      @include flex(row, center, space-between, 24px);
      border-bottom: 1px solid var(--color3);
      padding: var(--espaceDiv);

      .name{
        & > span:first-child{
          @include fontSemibold();
          font-size: 20px;
        }
        .difficulty{
          margin-top: 4px;
          opacity: 0.8;
          font-size: 14px;
        }
      }

      .favorite{
        .btn-icon{
          color: var(--grey4);
        }
      }
    }

    .card-body{
      display: block;
      opacity: 0.75;
      height: 200px;
      max-width: 321px;
      transition: opacity 0.2s ease-in-out;
      overflow: hidden;
      border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);

      img{
        object-fit: cover;
      }

      &:hover{
        opacity: 1;
      }
    }

    .card-footer{
      @include flex(row, flex-start, flex-end);
      border-top: 1px solid var(--color3);

      .btn-icon{
        color: var(--alpha);
      }

      & > .delete-recipe .btn-icon{
        &:hover{
          .tooltip{
            top: -27px;
            right: -22px;
          }
        }
      }

      & > *{
        position: relative;
        width: 100%;
        min-height: 48px;

        &:not(.delete-recipe):hover{
          .tooltip{
            top: -18px;
            right: 54px;
          }
        }

        &:not(:last-child){
          &:after{
            content: "";
            display: block;
            width: 1px; height: calc(100% - 16px);
            position: absolute;
            top: 8px; right: 0;
            background-color: var(--color3);
          }
        }
      }
    }
  }
}
