{% extends 'user/pages/recipes/template.html.twig' %}

{% set page_title %}Recettes{% endset %}
{% set page_subtitle %}Liste totale des recettes !{% endset %}

{% block main_content %}
    <div id="recipes_list">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
