{% extends 'user/pages/recipes/template.html.twig' %}

{% block title %}Crêpes au Nutella | {{ page_prefix }}{% endblock %}

{% block main_content %}
    <div id="recipes_read">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
