@import "../../../../vars/vars";

@import "js-datepicker/src/datepicker.scss";

@import "../../propals.scss";

.birthday-read{
  @include flex(column, flex-start, flex-start, var(--espaceDiv));

  & > div{
    width: 100%;
  }
}

.birthday-header{
  @include flex(column, stretch, flex-start, var(--espaceDiv));
}

.birthday-title{
  position: relative;
  min-height: 148px;
  padding: 12px;
  border-radius: calc(var(--radius) * 2);
  width: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  &:before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%; height: 100%;
    background: linear-gradient(to right, var(--overlay), transparent);
  }

  h2{
    position: relative;
  }
}

.iframe-route{
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
}

.birthday-propals{
  width: 100%;
}

.birthday-card{
  .birthday-card-header, .birthday-card-footer{
    padding: var(--espaceDiv);
  }

  .birthday-card-header{
    @include flex(row, center, space-between, var(--espaceEls));
    background-color: var(--color0Opacity6);
    border-radius: calc(var(--radius) * 2) calc(var(--radius) * 2) 0 0;

    .name{
      font-weight: 600;
      font-size: 20px;
    }
  }

  .birthday-card-body {
    background-color: var(--color0Opacity4);

    &.selected{
      background-color: var(--primaryOpacity1);
      border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);
    }

    .image{
      width: 80px;
      max-height: 140px;
      overflow: hidden;

      img{
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

.birthday-card-date{
  .birthday-card-body{
    border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);
  }
}

.birthday-content{
  @include flex(column, flex-start, flex-start, var(--espaceLayout));

  & > div{
    width: 100%;
  }
}

.propals{
  .propal{
    .propal-body-with-image{
      width: calc(100% - 40px - 96px - 25px);
    }
    .propal-body{
      .name, .duration{
        cursor: initial;
      }
    }
    .propal-counter{
      cursor: initial;
    }
  }

  .propal-presents{
    flex-wrap: wrap;
    justify-content: flex-end;

    .propal-body-with-image{
      width: 100%;
    }
  }

  .propal-route{
    flex-direction: column;
    gap: var(--espaceDiv);
  }

  .propal-text{
    &:hover{
      background: none;
    }
  }

  .propal-counter{
    &.active{
      background-color: var(--danger);
    }
  }

  .propal{
    &.active{
      opacity: 0.5;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .birthday-header{
    flex-direction: row;
  }

  .birthday-title{
    padding: 24px;
  }

  .birthday-title, .birthday-propals{
    width: 50%;
  }

  .propals{
    .propal{
      .propal-body-with-image{
        @include flex(row, flex-start, flex-start, var(--espaceEls));
      }
    }

    .propal-presents{
      flex-wrap: initial;
      justify-content: flex-start;

      .propal-body-with-image{
        width: calc(100% - 40px - 96px - 25px);
      }
    }

    .propal-route{
      flex-direction: row;

      & > div{
        width: 50%;
      }
    }
  }
}
