@import "../../../../vars/vars";

.groupe-read{
  @include flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));

  & > [class^="groupe-line-"]{
    width: 100%;
  }

  h2{
    margin-bottom: 4px;
  }

  .subtitle{
    opacity: 0.85;
    font-size: 15px;
  }
}

.groupe-line-0{
  @include flex(column, flex-start, flex-start, var(--espaceDiv));
}

.next-rando, .next-creator{
  width: 100%;
  border-radius: calc(var(--radius) * 2);
  padding: var(--espaceDiv);
}

.next-rando{
  @include flex(row, stretch, space-between, var(--espaceEls));
  background-color: var(--color0);

  & > .col-2{
    @include flex(column, flex-start, space-between, var(--espaceDiv));
  }

  img {
    width: 32px;
  }
}

.next-creator{
  background-color: var(--primary);
}


//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .groupe-line-0{
    flex-direction: row;
    align-items: stretch;
  }

  $ctaFAQWidth: 300px;

  .next-rando{
    width: calc(100% - $ctaFAQWidth);

    img{
      width: 42px;
    }
  }

  .next-creator{
    width: $ctaFAQWidth;
  }
}
