{% extends 'user/pages/budget/template.html.twig' %}

{% set page_title %}Planificateur de budget{% endset %}
{% set page_subtitle %}Planifie ton budget au cours de l'année{% endset %}

{% block main_content %}
    <div id="budget"
         data-donnees="{{ donnees }}"
         data-y="{{ year }}"
         data-m="{{ month }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
