{% extends 'user/pages/recipes/template.html.twig' %}

{% set page_title %}Planificateur de budget{% endset %}
{% set page_subtitle %}Planifie ton budget au cours de l'année{% endset %}

{% block main_content %}
    <div class="page-actions">
        <div class="col-1">
        </div>
    </div>
    <div class="page-default">
        Hello world
    </div>
{% endblock %}
