html{
  background-color: var(--grey1);
}

.layout-1:not(.brut){
  header{
    background-color: var(--grey0);
    border-bottom: 1px solid var(--grey1);
    margin: 12px var(--espaceLayout) 0 var(--espaceLayout);
    border-radius: calc(var(--radius) * 3);
    width: calc(100% - var(--espaceLayout) * 2);
  }

  nav{
    .nav-menu{
      background-color: var(--grey0);
    }

    .nav-menu-item{
      color: var(--txt);
      transition: background-color 0.2s ease-in-out;

      &.active{
        background-color: var(--primary);
        color: var(--alpha);
      }

      &:not(.active):hover{
        background-color: var(--primaryOpacity1);
      }
    }
  }

  .body {
    background-color: var(--grey1);
  }

  .main-content{
    padding: var(--espaceLayout);
  }

  footer{
    background-color: var(--alpha);
    border-top: 1px solid var(--grey1);
  }
}

.layout-horizontal-1:not(.brut){
  background-color: var(--grey1);

  nav{
    width: 100%;

    .nav-menu{
      width: 90%;
    }

    .nav-menu-items{
      width: calc(100% - var(--espaceLayout));
    }
  }

  .body{
    min-height: calc(100vh - 266px);
  }

  @media (min-width:768px) {
    .body{
      min-height: calc(100vh - 177px);
    }
  }

  @media (min-width:1024px) {
    .body{
      min-height: calc(100vh - 158px);
    }
  }

  @media (min-width:1280px) {
    header{
      display: none;
    }

    nav{
      backdrop-filter: blur(2px) saturate(26%);
      background-color: rgba(255, 255, 255, 0.11);
      width: calc(100% - (var(--espaceDiv) * 2));
      border-radius: calc(var(--radius) * 2);
      margin: var(--espaceDiv);

      .nav-menu-header{
        width: 140px;
      }

      .nav-menu{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include maxscreen();
        background-color: transparent;
      }

      .nav-menu-items{
        & > div:last-child{
          justify-content: flex-end;
        }
      }

      .nav-menu-item{
        font-weight: 600;
      }
    }

    .body{
      margin-top: calc(-60px - var(--espaceDiv) * 2);
      min-height: calc(100vh - 160px);
    }
  }

  @media (min-width:1600px) {
    .body{
      min-height: calc(100vh - 175px);
    }
  }
}
