{% extends 'user/pages/videotheque/template.html.twig' %}

{% set page_title %}Vidéothèque{% endset %}
{% set page_subtitle %}Liste des vidéos{% endset %}

{% block main_content %}
    {% if finder | length > 0 %}
        <div id="videos_list" data-is-admin="{{ app.user.isAdmin }}">
            {% include "layout/components/tailwind/loaders/loader.html.twig" %}
        </div>
    {% else %}
        <div class="w-full flex flex-col items-center justify-center">
            <div>
                <div class="flex flex-col items-center justify-center bg-white p-12 rounded-xl shadow-sm">
                    <div class="bg-purple-100 rounded-lg p-3">
                        <svg class="w-6 h-6 text-purple-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                        </svg>
                    </div>
                    <div class="text-xl font-medium mt-4">Aucune vidéo enregistrée</div>
                    <div class="max-w-sm text-gray-500 text-center mt-2">
                        Il n'y a aucune vidéo d'enregistrée pour le moment.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
