{% extends 'user/pages/budget/template.html.twig' %}

{% set page_title %}Récurences{% endset %}
{% set page_subtitle %}Liste des dépenses, revenus, économies récurrentes{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([{ text: page_title }]) %}
    {{ parent() }}
{% endblock %}

{% set page_actions %}
    <div class="flex items-start justify-end flex-wrap gap-1">
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('user_budget_index', {year: 'now'|date('Y')}),
            btn_type: 'default',
            btn_icon: 'left-arrow',
            btn_text: 'Retourner au planificateur'
        } %}
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('user_budget_categories_index'),
            btn_type: 'default',
            btn_icon: 'vision',
            btn_text: 'Voir les catégories'
        } %}
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('user_budget_recurrences_create'),
            btn_type: 'blue',
            btn_icon: 'add',
            btn_text: 'Créer une récurrence'
        } %}
    </div>
{% endset %}

{% block main_content %}
    <div id="recurrences_list" data-highlight="{{ highlight }}">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
