{% extends 'app/layout/layout.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">Hello</div>
{% endblock %}
