.budget{
  & > .col-2{
    & > .col-1{
      .formulaire{
        background-color: var(--color2);
        padding: var(--espaceDiv);
        border-radius: var(--radius2);
        width: 100%;
        max-width: 405px;

        .line-real{
          .form-group-radiobox{
            width: calc(100% - 60px);

            .radiobox-item label{
              padding: 8px 8px 6px 8px;
            }
          }
          .form-group-checkbox{
            width: 60px;
            align-items: flex-end;
          }
        }
      }
      @media (min-width:1280px) {
        .formulaire{
          width: 345px;
        }
      }
      @media (min-width:1600px) {
        .formulaire{
          width: 360px;
        }
      }
    }
  }
}