.planning{
  @include flex(row, center, flex-start, var(--espaceDiv));
  overflow-x: auto;
  border-bottom: 1px solid var(--grey0Opacity1);
  padding-bottom: var(--espaceLayout);
  margin-bottom: var(--espaceDiv);

  .planning-item{
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: var(--radius);
    min-width: 64px;
    text-align: center;

    &:not(.active):hover{
      transform: translateY(-5px);
    }

    &.today{
      background-color: var(--warningOpacity4);
    }
    &.active{
      background-color: var(--primary);
      color: var(--alpha);

      .totaux{
        color: var(--grey2);
      }

      &.danger{
        background-color: var(--dangerOpacity6);
      }
    }
    &.disabled{
      opacity: 0.5;
      cursor: not-allowed;

      &:hover{
        transform: none;
      }
    }


    .totaux{
      color: var(--grey3);
      @include overflowText();
    }
  }

  @media (min-width:768px) {
    justify-content: center;
  }
}
